body {
	margin:0;
	background-color: black;
}

#catpic {
	margin:0 auto;
	display:inline-block;
}

#top {
	background-color: #000000;
	margin:0;
}

#bio {
	display: inline-block;
	margin:0;
	height: 400px;
	vertical-align: top;
}

#myBio {
	display: block;
	height: 50%;
	margin-top:40;
}

#catBio {
	height: 50%;
	display: block;
}

#bio h1 {
	margin:5 auto;
	font-family: Josefin slab, serif;
	font-size: 48px;
	color:white;
	text-align: center;

}

#bio p {
	margin:5;
	font-family: Josefin slab, serif;
	font-size: 20px;
	color:#B392D0;
	text-align: center;
}

#myName {
	margin:10;
	display: inline-block;
	vertical-align: top;
}

#myName	h1 {
	margin:0;
	font-family: Josefin slab, serif;
	color:#6996B9;
	font-size:80;
	font-weight: 700;
}

#myName p {
	margin:5;
	color:#9AC3AA;
	font-size: 24px;
	font-family: Josefin slab, serif;
	font-weight: 100;
}